.bg-container {
  background-color: #161625;
  height: 100%;
  padding-left: 100px;
  padding-bottom: 40px;
}
.logo-box {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.logo {
  height: 26px;
  margin-right: 10px;
}
.logo-head {
  color: #2cc6c6;
  font-size: 16px;
}
.title {
  color: #cbd5e1;
  font-size: 20px;
  margin-left: 40px;
}
